{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fの世界へようこそ{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="{% block site_discription %}このサイトは、ファンタジー -World of F-(Fの世界)の紹介と、HaLuの作品紹介をしています。さらにブログを通じて日々の出来事を発信します。{% endblock %}">
    <meta name="keywords"
        content="Fの世界,World of F,アクセサリ,雑貨,手作り,ブログ,django,プログラミング{% block keywords_add %}{% endblock %}">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet" media="print" onload="this.media='all'">
    <link href="{% static 'css/common.css' %}" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css"
        integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous" media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125289492-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-125289492-1');
    </script>
    <script data-ad-client="ca-pub-4595919122697983" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% if user.is_authenticated %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endif %}
    {% block head_extra %}{% endblock %}

</head>

<body>
<!--    <div id="loading">
        <div class="spinner"></div>
    </div>
-->
    <div class="wrapper">
        <header class="global-site-header">
            <nav class="sp-nav">
                <div class="sp-menu">
                    <a href="/"><img id="brand-logo" src="{% static 'img/logo.png' %}" alt="World of F" hspace="7"
                            vspace="7" /></a>
                </div>
                <div id="nav-drawer" class="sp-menu">
                    <input id="nav-input" type="checkbox" class="nav-unshown">
                    <label id="nav-open" for="nav-input"><span></span></label>
                    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                    <div id="nav-content">
                        <div class="sp-header-brand-logo">
                            <a href="/"><img id="brand-logo" src="{% static 'img/logo.png' %}" alt="World of F"
                                    hspace="7" vspace="7" /></a>
                        </div>
                        <ul class="sp-header-menu">
                            <li class="sp-header-menu-list"><a class="header-icon header-icon-site" id="about_site"
                                    href="/about/this-site">Fの世界とは</a>
                            </li>
                            <li class="sp-header-menu-list"><a class="header-icon header-icon-about"
                                    href="/item">ITEM</a></li>
                            <!-- <li class="header-search-item">
                            <input placeholder="Search" type="search" class="header-search">
                            <a class="header-icon header-icon-search"><span>Search</span></a>
                        </li> -->
                            <li class="sp-header-menu-list">
                                <a href="/story" class="header-icon header-icon-story" id="story">小説プロローグ</a>

                                <ul class="header-submenu">
                                    <li><a class="header-icon header-icon-story" href="/story/prologue/1st">The <strong
                                                class="F">F</strong>ixed World</a></li>
                                    <li><a class="header-icon header-icon-story" href="/story/prologue/2nd">The <strong
                                                class="F">F</strong>lickers Story</a></li>
                                    <li><a class="header-icon header-icon-story" href="#">The Magical <strong
                                                class="F">F</strong>antasy</a></li>
                                </ul>
                            </li>
                            <li class="sp-header-menu-list"><a class="header-icon header-icon-about"
                                    href="/about/HaLu">HaLuについて</a></li>
                            <li class="sp-header-menu-list"> <a class="header-icon header-icon-info"
                                    href="/information">情報</a> </li>
                            <li class="sp-header-menu-list"><a class="header-icon header-icon-blog"
                                    href="https://blog.world-of-f.website" target="_blank">ブログ</a></li>
                            <li class="sp-header-menu-list"><a href="/story-contents/index.html">&raquo;小説</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="pc-nav">
                <div class="pc-menu"><a href="/item" class="header-menulinks">ITEM</a></div>
                <div class="pc-menu"><a href="/story" class="header-menulinks">STORY</a></div>
                <div class="pc-menu">
                    <a href="/"><img id="brand-logo" src="{% static 'img/logo.png' %}" alt="World of F" hspace="7"
                            vspace="7" /></a>
                </div>

                <div class="pc-menu"><a href="/about/HaLu" class="header-menulinks">ABOUT US</a></div>
                <div class="pc-menu"><a href="/information" class="header-menulinks">INFO</a></div>
            </nav>


        </header>
        <main class="global-main">
            {% block main %} {{ main }} {% endblock main %}
        </main>

        <footer class="global-site-footer">
            <div class="footer-contents">
                <div class="footer-introduce">
                    <a href="/" style="color: white;"><strong class="F">F</strong> の世界</a>
                    
                </div>
                <div class="footer-item">
                    <ul class="footer-menu">
                        <li class="footer-menu-list"><a class="footer-icon header-icon-site" id="about_site"
                                href="/about/this-site">Fの世界とは</a>
                        </li>
                        <li class="footer-menu-list"><a class="footer-icon header-icon-about"
                                href="/item">ITEM</a></li>
                        <!-- <li class="header-search-item">
                        <input placeholder="Search" type="search" class="header-search">
                        <a class="header-icon header-icon-search"><span>Search</span></a>
                    </li> -->
                        <li class="footer-menu-list">
                            <a href="/story" class="footer-icon header-icon-story" id="story">小説プロローグ</a>

                            
                        </li>
                        <li class="footer-menu-list"><a class="footer-icon header-icon-about"
                                href="/about/HaLu">HaLuについて</a></li>
                        <li class="footer-menu-list"> <a class="footer-icon header-icon-info"
                                href="/information">情報</a> </li>
                        <li class="footer-menu-list">
                            <a href="/post" class="footer-icon header-icon-story" id="post">日々の雑記</a></li>
                        <li class="footer-menu-list"><a class="footer-icon header-icon-blog"
                                href="https://world-of-f.com/wp" target="_blank">ブログ</a></li>
                        <li class="footer-menu-list"><a class="footer-icon" href="/story-contents/index.html">&raquo;小説</a></li>
                    </ul>
                </div>
                <div class="footer-stoty">
                    <ul class="footer-menu">
                        <li><a class="footer-icon header-icon-story" href="/story/prologue/1st">The <strong
                                    class="F">F</strong>ixed World</a></li>
                        <li><a class="footer-icon header-icon-story" href="/story/prologue/2nd">The <strong
                                    class="F">F</strong>lickers Story</a></li>
                        <li><a class="footer-icon header-icon-story" href="#">The Magical <strong
                                    class="F">F</strong>antasy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright : <a class="footer-icon" href="/about/HaLu">HaLu</a>&nbsp;&nbsp;<a href="https://twitter.com/Hyu_HaLu?lang=ja" target="_blank" class="twitter-button"
                    title="HaLuのtwitterへ"><i class="fab fa-twitter fa-skyblue" aria-hidden="true"></i></a>&nbsp;&&nbsp;&nbsp;<a  class="footer-icon" href="/about/Ken">Ken</a> </p>
                <p>since 2013 - {% now "Y" %} </p>
                <p><a class="footer-icon" href="{% url 'privacy-policy' %}">プライバシーポリシー</a></p>
            </div>
            <div class="footer-share">
                <section>SHARE!!</section>
                <a class="btn-social-square btn-social-square--twitter"
                    href="http://twitter.com/share?url={{ request.build_absolute_uri }}"><i
                        class="fab fa-twitter fa-2x"></i></a>
                <a class="btn-social-square btn-social-square--facebook"
                    href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a class="btn-social-square btn-social-square--line"
                    href="http://line.me/R/msg/text/?{{ request.build_absolute_uri }}"><i
                        class="fab fa-line fa-2x"></i></a>
                <a class="btn-social-square btn-social-square--pocket"
                    href="//getpocket.com/edit?url={{ request.build_absolute_uri }}&title=World of F"
                    target="_blank" title="Pocketに保存する"><i class="fab fa-get-pocket fa-2x"></i></a>
                </div>
        </footer>
    </div>
</body>


</html>