<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>メンテナンス中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/reset.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/vnd.microsoft.icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>

<body>
<h1 style="font-size: 12px;">只今メンテナンス中です。</h1>
</body>


</html>