{% extends "cms/about/Artist.html" %}{% block title %}作家 HaLu について{% endblock %} {% block Artist %}
{% load static %}
<div id="main-visual" class="container">
    <div class="item-detail-wrapper">
        <div class="item-detail item-card">
            <div class="creator-icon-wrappter">
                <h2 class="creator-name">HaLu</h2>
                <div class="creator-icon"><img src="/static/img/about/HaLu.jpg"></img></div>        
            </div>
            <article class="HaLu-comment">自作ファンタジー世界の「World of F ～Fの世界～」で使用されているアイテムや幻想的な風景を、 様々な素材を用いて表現しています。 自然と歴史が好き。</article>
            <div class="HaLu-Meishi">
                <img src="{% static 'img/Artist-星詠みの2-9イラスト風-768x513.jpg' %}" />
            </div>    
            <div class="action-wrapper">
                <h3 class="action-title">活動</h3>
                <ul class="action-list">
                    <li><span class="action-date">2013年から</span><span class="action">各地イベントに参加。</span></li>
                    <li><span class="action-date">2018年から</span><span class="action">サイトを通じ、Fの世界のストーリーやアイテム設定なども公開し、活動を続けています。</span></li>
                </ul>
                <h3 class="action-title">イベント履歴</h3>
                <ul class="action-list">
                    <li><span class="action-date">2016年5月14 - 15日</span> デザインフェスタ (暗いブース)</li>
                    <li><span class="action-date">2016年9月10 - 11日</span> SHOP peaberry(京都店舗) 委託</li>
                    <li><span class="action-date">2016年11月26 - 27日</span> デザインフェスタ (暗いブース)</li>
                    <li><span class="action-date">2016年11月</span> 天体観測展</li>
                    <li><span class="action-date">2017年9月24日</span> <a href="https://hoshimori.jp/" target="_blank">星降る森の魔法市</a></li>
                    <li><span class="action-date">2017年11月11 - 12日</span> デザインフェスタ</li>
                </ul>
                <h3 class="action-title">イベント予定</h3>
                <ul class="action-list">
                    <li><span class="action-date">2018年2月</span>　<a href="https://minne.com/" target="_blank">minne</a> より随時通販</li>
                    <li><span class="action-date">2018年4月15日(日)</span><a href="https://hoshimori.jp/" target="_blank">星降る森の魔法市</a>＠神奈川県川崎市　（直接参加）</li>
                </ul>
                <hr>
                <section class="description">
                    <p>依頼やその他の問い合わせについては下記までご連絡ください。</p>
                    <p>※返信は1週間以内にお送りいたします。</p>
                    <p><a href="mailto:lightwing77677@yahoo.co.jp">lightwing77677@yahoo.co.jp</a></p></br>twitter -> <a href="https://twitter.com/Hyu_HaLu" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                </section>
            </div>
        </div>
    </div>

</div>{% endblock %}