{% extends "cms/about/Artist.html" %}{% block title %} Ken について{% endblock %} {% block Artist %}
{% load static %}
<div id="main-visual" class="container">
    <div class="item-detail-wrapper">
        <div class="item-detail item-card">
            <div class="creator-icon-wrappter">
                <h2 class="creator-name">KEN</h2>
                <div class="creator-icon"><img src="/static/img/about/ken.jpg"></img></div>
            </div>
            <article class="HaLu-comment">平成元年生まれ、北関東育ち、Fの世界サイト管理人。男児の父</article>
        
            <div class="action-wrapper">
                <h3 class="action-title">活動</h3>
                <ul class="action-list">
                    <li><span class="action-date">1989年4月</span><span class="action">北関東で生まれる</span></li>
                    <li><span class="action-date">2014年</span><span class="action">物理系大学院卒、IT系の職に就く。統計解析をしたいと思い独学でPythonを触りだす</span></li>
                    <li><span class="action-date">2016年</span><span class="action">妻と出会い、レジンの世界を知る</span></li>
                    <li><span class="action-date">2018年</span><span class="action">世界観を表現するため現<a href="/">Fの世界</a>サイトを Django を用いて公開する</span></li>
                    <li><span class="action-date">2021年</span><span class="action">日々の生活をつづりたく<a href="/post">日々の雑記</a>を公開</span></li>
                </ul>
            </div>
            <hr>
            <section class="description">
                <p>お問い合わせについては下記までご連絡ください。</p>
                <p>※返信は1週間以内にお送りいたします。</p>
                <p><a href="mailto:braveHK2017@gmail.com">braveHK2017@gmail.com</a></p>
                </br>twitter -> <a href="https://twitter.com/brv_HK" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            </section>
        </div>
    </div>
    
</div>{% endblock %}