{% extends "base.html" %} {% load static %} {% load custom_filter %} {% block title %}{{ object.name }}|作品紹介
{% endblock %}{% block head_extra %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="/static/css/lightbox.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/js/lightbox.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %} 
{% block ogp_title %}{{ object.name }}|作品紹介{% endblock %}
{% block ogp_image %}
{% with ogp_item_image=object.id|item_images|first %}
https://world-of-f.website{{ ogp_item_image.img.url  }}
{% endwith %}
{% endblock %}
{% block ogp_description %}{{ object.detail }}{% endblock %}
{% block main %}
<div id="main-visual" class="container">
    <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/item/" itemprop="item">
                <span itemprop="name">全ての作品</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/item/?category={{ object.category.id }}" itemprop="item">
                <span itemprop="name">{{ object.category }}</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="" itemprop="item">
                <span itemprop="name">{{ object.name }}</span>
            </a>
            <meta itemprop="position" content="3" />
        </li>
    </ul>
    <div class="item-detail-wrapper">
        <div class="item-detail item-card">
            {% if user.is_authenticated %}
            <a href="{% url 'cms:item_mod' object.id %}" class="button-sticky add-button"><i class="fas fa-pen"></i></a>
            {% endif %}
            <h1 class="item-title">{{ object.name }}</h1>

            <div class="item-image" data-ride="carousel">
                {% if object.is_sold %}
                    <div class="tag-wrapper">
                        <span class="tag tag-end">SOLD OUT</span>
                    </div>
                    {% endif %}
                    {% if object.date|is_new %}
                    <div class="tag-wrapper">
                        <span class="tag tag-new">新作</span>
                    </div>
                    {% endif %}
                <div class="image-frame" id="item-id-{{ item.id }}">
                    

                    {% with images=object.id|item_images %}
                    {% for image in images %}
                    <a href="{{ image.img.url }}" data-lightbox="{{ image.item.name }}">
                        <img src="{{ image.img.url }}" alt="{{ image.item.name }}">
                    </a>
                    {% endfor %}
                    {% endwith %}
                </div>
                <script type="text/javascript">
                    $(document).ready(function(){
                      $('.image-frame').slick({
                        　　arrows: true,
 　　                       slidesToShow:1,
                            fade: true,
 　　                       prevArrow:'<div class="slide-prev"></div>',
 　　                       nextArrow:'<div class="slide-next"></div>'
                      });
                    });
                  </script>                    
            </div>
            <div class="item-comments">
                <div class="" id="detail">

                </div>
                <div class="item-create-date-wrapper">
                    <span class="item-create-date"><i class="fas fa-calendar-day"></i>&nbsp;{{ item.date }}</span>
                </div>
                <div class="detail-wrapper">
                    <p> {{ object.detail }}</p>
                </div>
                {%if object.minne_url %}
                <div class="minnne-wrapper">
                    <img src="" />
                    <p>こちらは、<a href="{{ object.minne_url }}">ミンネ</a>で取り扱い中です</p>
                </div>
                {% endif %}
            </div>
            {% if object.comment %}
            <div class="HaLu-comments">
                <div class="comment-wrapper">
                    <div class="creator-icon-wrappter">  
                        <img src="/static/img/about/HaLu.jpg" />
                    </div>
                    <div class="comment">
                    <div class="says">
                        <p>{{ object.comment }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="item-prev-next">
                <div class="item-prev">
                    {% with next=object.get_next_by_date %}
                        {% if next %}
                        <p>Prev</p>
                            <a  class="" title="Next ({{ next.name }})" href="{% url 'cms:item_detail' next.pk %}"><i class="fas fa-backward"></i>&nbsp;&nbsp;&nbsp;{{ next.name }}</a>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="item-next">
                    {% with prev=object.get_previous_by_date %}
                    {% if prev %}
                        <p>Next</p>
                        <a class="" title="Prev ({{ prev.name}})" href="{% url 'cms:item_detail' prev.pk %}">{{ prev.name }}&nbsp;&nbsp;&nbsp;<i class="fas fa-forward"></i></a>
                    {% endif %}
                    {% endwith %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
    